<?xml version="1.0" ?>
<config>
	<modules>
		<polcode_productmessage>
			<version>0.1.0</version>
		</polcode_productmessage>
	</modules>
	<global>
		<models>
			<productmessage>
				<class>Polcode_Productmessage_Model</class>
				<resoruceModel>productmessage_Model_Mysql4</resoruceModel>
			</productmessage>
			<productmessage_mysql4>
				<entities>
					<productmessage>
						<table>productmessage</table>
					</productmessage>
				</entities>
			</productmessage_mysql4>
		</models>
		<heleprs>
			<productmessage>
				<class>Polcode_Productmessage_Helper</class>
			</productmessage>
		</helpers>
		<blocks>
			<productmessage>
				<class>Polcode_Productmessage_Block</class>
			</productmessage>
		</blocks>
		<resources>
			<productmessage_write>
				<connection>
					<use>core_write</use>
				</connection>
			</productmessage_write>
			<productmessage_read>
				<connection>
					<use>core_read</use>
				</connection>
			</productmessage_read>
		</resources>
	</global>
	<template>
		<email>
			<productmessage_admin_template module="Productmessage">
				<label>Product message admin template</label>
				<file>productmessage_admin.html</file>
				<type>html</type>
			</productmessage_admin_template>
			<productmessage_customer_template module="Productmessage">
				<label>Product message customer template</label>
				<file>productmessage_customer.html</file>
				<type>html</type>
			</productmessage_customer_template>
			<productmessage_product_template module="Productmessage">
				<label>Product message product template</label>
				<file>productmessage_product.html</file>
				<type>html</type>
			</productmessage_product_template>
		</email>
	</template>
</config>
