<?xml version="1.0" ?>
<config>
	<modules>
		<Polcode_Productmessage>
			<version>0.1.2</version>
		</Polcode_Productmessage>
	</modules>
	<global>
		<models>
			<productmessage>
				<class>Polcode_Productmessage_Model</class>
				<resourceModel>productmessage_mysql4</resourceModel>
			</productmessage>
			<productmessage_mysql4>
				<class>Polcode_Productmessage_Model_Mysql4</class>
				<entities>
					<productmessage>
						<table>polcode_productmessage</table>
					</productmessage>
				</entities>
			</productmessage_mysql4>
		</models>
		<helpers>
			<productmessage>
				<class>Polcode_Productmessage_Helper</class>
			</productmessage>
		</helpers>
		<blocks>
			<productmessage>
				<class>Polcode_Productmessage_Block</class>
			</productmessage>
		</blocks>
		<resources>
			<productmessage_setup>
				<setup>
					<module>Polcode_Productmessage</module>
					<class>Polcode_Productmessage_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</productmessage_setup>
			<productmessage_write>
				<connection>
					<use>core_write</use>
				</connection>
			</productmessage_write>
			<productmessage_read>
				<connection>
					<use>core_read</use>
				</connection>
			</productmessage_read>
		</resources>
		<template>
			<email>
				<productmessage_admin_template module="productmessage">
					<label>Product message admin template</label>
					<file>polcode/productmessage_admin.html</file>
					<type>html</type>
				</productmessage_admin_template>
				<productmessage_customer_template module="productmessage">
					<label>Product message customer template</label>
					<file>polcode/productmessage_customer.html</file>
					<type>html</type>
				</productmessage_customer_template>
				<productmessage_product_template module="productmessage">
					<label>Product message product template</label>
					<file>polcode/productmessage_product.html</file>
					<type>html</type>
				</productmessage_product_template>
			</email>
		</template>
	</global>
	<frontend>
        <routers>
            <productmessage>
                <use>standard</use>
                <args>
                    <module>Polcode_Productmessage</module>
                    <frontName>productmessage</frontName>
                </args>
            </productmessage>
        </routers>   
    </frontend>
    <admin>
    	<routers>
    		<productmessage>
    			<use>admin</use>
    			<args>
    				<module>Polcode_Producemessage</module>
    				<frontName>productmessage</frontName>
    			</args>
    		</productmessage>
    	</routers>
    </admin>
    <adminhtml>
    	<menu>
    		<productmessage module="productmessage">
    			<title>Productmessage</title>
    			<sort_order>200</sort_order>
    			<children>
    				<items module="productmessage">
    					<title>Manage product messages</title>
    					<sort_order>0</sort_order>
    					<action>productmessage/adminhtml_productmessage</action>
    				</items>
    			</children>
    		</productmessage>
    	</menu>
    	<acl>
    		<resources>
    			<all>
    				<title>Allow everything</title>
    			</all>
    			<admin>
    				<children>
    					<productmessage>
    						<title>Polcode Productmessage</title>
    						<sort_order>500</sort_order>
    					</productmessage>
    				</children>
    			</admin>
    		</resources>
    	</acl>
    	
    </adminhtml>

</config>
